
body{

    font-size:20px;
   
    background-size:cover;
    background-repeat:repeat;
    background-color:#6096B4;
  }
  
  ul{
    position:absolute;
    margin:0;
    padding:0;
  }
  
  li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:50px;
  }

  
  
  li:hover{
    top:0px;
  
  }
  
  li:nth-child(1){
      transform:rotate(0deg);
  }
  
  li:nth-child(2){
      transform:rotate(10deg);
  }
  
  li:nth-child(3){
      transform:rotate(-12deg);
  }
  
  li:nth-child(4){
      transform:rotate(20deg);
  }
   li:nth-child(5){
      transform:rotate(-13deg);
  }
   li:nth-child(6){
      transform:rotate(-2deg);
  }
   li:nth-child(7){
      transform:rotate(3deg);
  }
   li:nth-child(8){
      transform:rotate(-10deg);
  }
   li:nth-child(9){
      transform:rotate(8deg);
  }
  li:nth-child(10){
    transform:rotate(-10deg);

}

    li:nth-child(11){
    transform:rotate(0deg);
    }
    li:nth-child(12){
    transform:rotate(5deg);
    }
    li:nth-child(13){
    transform:rotate(-15deg);
    }
    li:nth-child(14){
    transform:rotate(17deg);
    }
  
  p{
    text-align-last: right;
    font-size: 25px;
    margin:5px 0 0 0;
  }
  
  .light{
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }


  