.room-container {
    cursor: default;
  }
  
  .hoverable-mesh {
    cursor: pointer;
  }
  .roomContainer {
    /* Other styles for the container */
  
    &.blur {
      filter: blur(5px); /* Apply the desired blur effect */
    }
  }